@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300;400&family=Roboto:wght@300&display=swap');


.Item-list{
    display: flex;
    justify-content: center;
    align-items: center
}

.parrafo-descripcion{
    position: relative;
    margin-bottom: 80px;
    padding: 10px;
    margin-top: -100px;
    font-family: "Didact Gothic";
    font-size: large;

}

.categoria{
    font-family: "Didact Gothic";
    font-weight: bold;
    position: relative;
    margin-top: -100px;
}

.descripcion{
    position: relative;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}   
.precio {
    font-family: "Didact Gothic";
    font-weight: bold;
}

.function{
    position: relative;
    left: 40px;
}
.checkout{

        position: relative;
        bottom: 50px;
        height: 50px;
        width: 150px;
        border-radius: 10px;
        font-family: "Didact Gothic";
        font-size: x-large;
        border: 1px solid black;
        cursor: pointer;
        transition: ease-in 0.1s;
    
    
}

.checkout:hover{
    background-color: black;
    color: white;
}